.imgs {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.img {
    max-width: 400px;
    border: 4px solid rgb(246, 135, 18);
    box-shadow: 0 0 1px 2px rgba(57, 53, 54, 0.5);
    &:hover {
        cursor: pointer;
        border: 4px solid rgb(57, 53, 54);
        box-shadow: 0 0 1px 2px rgb(246, 135, 18);
        
    }
}

/********** Media queries **********/
@media (max-width: 1500px) {
    .img {
        max-width: 300px;
    }
}

@media (max-width: 1300px) {
    .img {
        max-width: 200px;
    }
}

@media (max-width: 1000px) {
    .img {
        max-width: 160px;
    }
}

@media (max-width: 800px) {
    
}

@media (max-width: 600px) {
    .imgs {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        gap: 10px;
    }

    .img {
        max-width: 250px;
    }
    
}

@media (max-width: 400px) {
    
}