@import 'logo';
@import 'info';
@import 'imgs';
@import 'contact';
@import 'modal';

@font-face {
    src: url('../fonts/neuropolitical.ttf');
    font: {
        family: 'Neuropolitical';
        weight: normal;
        style: normal;
    };
}

@font-face {
    src: url('../fonts/goodTimes.ttf');
    font: {
        family: 'Good Times';
        weight: normal;
        style: normal;
    };
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Neuropolitical', Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    overflow: hidden;
    background: {
        color: seashell;
        image: url("../img/injexBackground.svg");
        position: right;
        size: contain;
        repeat: no-repeat;
    };
}

.container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr min-content;
    grid-template-rows: 1fr 2fr 2fr;
}

// .nav {
//     color: seashell;
//     font-size: 2.5rem;
//     text-align: right;
//     grid-column: 4 / 5;
//     grid-row: 2 / 3;
//     justify-self: center;
//     align-self: center;
// }

// .nav-links {
//     list-style: none;
// }

// .nav-link {
//     padding: 10px 0;
//     &:hover {
//         cursor: pointer;
//         color: rgb(57, 53, 54);
//     }
// }

/********** Media queries **********/
@media (max-width: 1500px) {
    .container{
        background-color: rgba(255, 245, 238, 0.3);
    }
}

@media (max-width: 1000px) {
    
}

@media (max-width: 800px) {
    .body {
        background: {
            position: -15% 50%;
            size: cover;
        };
    }
}

@media (max-width: 600px) {
    .body {
        background: {
            position: -10% 50%;
            size: cover;
        };
        overflow: visible;
        height: 100%;
    }

    .container {
        height: 100%;
        grid-template-rows: repeat(5, min-content);
        background-color: rgba(255, 245, 238, 0.5);
    }

}

@media (max-width: 400px) {
    .body {
        background: {
            position: -5% 50%;
            size: cover;
        };
    }
}
